body{
    box-sizing: border-box;

}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

.nav-bar{
    height: 100px;
    color: #F9D342;
    background-color: #292826;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

li {
    margin-right: 20px;
}

.logo li img{
    height: 100px;
}

